.box {
    width: 25%;
    padding-bottom: 25%;
    background: black;
    color: #FFF;
    position: relative;
    float: left;
}

.middlecard {
    width: 25%;
    padding-bottom: 25%;
    background: red;
    color: #FFF;
    position: relative;
    float: left;
}

.middlecard:hover {
    width: 25%;
    padding-bottom: 25%;
    background: yellow;
    color: #FFF;
    position: relative;
    float: left;
}

.gameon {
    border-right: 1px dotted black;
}

.gameover {
    width: 60%;
    position: absolute;
    border-right: 1px dotted black;
}

.tableContainer {
    width: 75%;
    padding-bottom: 75%;
    margin: 0 auto;
    position: relative;
}

.messageContainer {
    width: 100%;
    padding-bottom: 75%;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
}

.gametable {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

.tablerow {
    display: block;
    overflow: hidden;
}

.boxContent {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    padding: 10px;
}

.boxContentzji {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #cc66ff;
    padding: 10px;
}

.boxContentzji:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #b31aff;
    padding: 10px;
}

.boxContentdboy {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #8585e0;
    padding: 10px;
}

.boxContentdboy:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #4747d1;
    padding: 10px;
}

.boxContentrenzhi {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #85e0e0;
    padding: 10px;
}

.boxContentrenzhi:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #49d0d0;
    padding: 10px;
}

.boxContentwtf {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #66b3ff;
    padding: 10px;
}

.boxContentwtf:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #1a8cff;
    padding: 10px;
}

.boxContentjuicy {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #ffb366;
    padding: 10px;
}

.boxContentjuicy:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #ff8c1a;
    padding: 10px;
}

.boxContentrex {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #ccff66;
    padding: 10px;
}

.boxContentrex:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #b3ff1a;
    padding: 10px;
}

.boxContentfboy {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #ff66b3;
    padding: 10px;
}

.boxContentfboy:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #ff1a8c;
    padding: 10px;
}

.boxContentsola {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #c2c2a3;
    padding: 10px;
}

.boxContentsola:hover {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #a3a375;
    padding: 10px;
}

.gamehistory {
    width: 40%;
    float: right;
}

.gamehistoryContainer {
    padding: 20px;
    font-family: Tahoma;
}

.optionsContainer {
	padding: 20px 80px;
    font-family: Tahoma;
}

.winmessage {
    top: 35%;
    left: 35%;
    position: absolute;
    color: red;
    font-family: verdana;
    font-size: 40px;
}

/* UNIVERSAL STYLES */
 .center {
    margin-right: auto;
    margin-left: auto;
}

.italic {
    font-style: italic;
    text-decoration: underline;
}
/* ELEMENT STYLES */
 h1, h4 {
    text-align: center;
    font-family: sans-serif;
    color: #666666;
    border: 0;
}
p {
    text-align: center;
    font-family: sans-serif;
    line-height: 16pt;
    color: #666666;
}
.button {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
#restart {
    font-size: 12pt;
    color: #666666;
    background-color: #dedede;
    padding: 5px 15px 5px 15px;
}
/* BOARD STYLES */
 #board-outer {
    height: 350px;
    width: 350px;
    background-color:none;
    overflow: hidden;
}
#board {
    width: 354px;
    height: 354px;
    background-color:none;
    border-spacing:0;
    margin-left: -2px;
    margin-top: -2px;
}

.cell {
    width: 100px;
    height: 100px;
    font: 90px sans-serif;
    text-align: center;
    vertical-align: center;
}
